#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}
#preloader-text {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #000;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(107, 107, 107); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(97, 93, 93, 0.658); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e3d9d9; 
  }

    /* Define a grid container */
    .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr); /* 12-column layout */
      gap: 10px; /* Optional spacing between columns */
    }
  
    /* Define each column */
    .col-4 {
      grid-column: span 4; /* Spans 4 out of 12 columns */
    }
  
    .col-6 {
      grid-column: span 6; /* Spans 6 out of 12 columns */
    }
    .col-8 {
      grid-column: span 8; /* Spans 6 out of 12 columns */
    }
    .col-12 {
      grid-column: span 12; /* Full width */
    }
